global-exclude __pycache__
exclude .benchmarks
exclude .eggs
exclude .mypy_cache
exclude .pytest_cache
exclude .quickstart
exclude .tox
exclude infrared_plugin
exclude plugins
exclude test-playbooks
exclude zuul.d
